# SUPABASE CONFIGURATION FOR CA ĐOÀN THIÊN THẦN
VITE_SUPABASE_URL= https://efuulrauqwrsoswvdadj.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmdXVscmF1cXdyc29zd3ZkYWRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxNzMyMjcsImV4cCI6MjEwNDc0OTIyN30.Yi8_qRkbUSufGZISlK9chxfbIetfE18ekxQ15qoVWtk

